body {
  background-color: #FFFDF6;
}

.main {
  margin-top: 90px;
}

.row {
  margin-bottom: 80px;
}

.about{
  margin-bottom: 0px;
}

.list-row-last {
  margin-bottom: 80px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 50px;
}

h3 {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
}

h4 {
  font-size: 24px;
}

p {
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  text-justify: inter-word;
}

.tag {
  text-align: center;
}

.navbar {
  opacity: 0.90;
  max-height: 80px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  text: #FFFDF6;
}

.navbar li {
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;

}

.navbar-text a {
  font-family: 'Merriweather', serif;
  font-weight: italic;
  font-size: 20px;
  color: #FFFDF6;
  text-decoration: none;
}

.navbar-right i {
  font-size: 32px;
}

ul {
  list-style: none;
  padding-top: 1em;
}

li {
  display: inline;
  padding: 20px;
  max-width: 200px;
}

li .title:hover {
  display: none;
}

.projects-list {
  margin-left: 60px;
}

.project-img {
  border-radius: 50%;
  min-height: 160px;
  max-height: 160px;
  min-width: 160px;
  max-width: 160px;
}

.project-img:hover {
  min-height: 180px;
  max-height: 180px;
  min-width: 180px;
  max-width: 180px;
}

.modal-header {
  text-align: center;
}

.modal-body {
  text-align: center;
}

.quote {
  max-width: 550px;
}

#text-list {
  margin-left: 100px;
}

.panel {
  margin-left: 300px;
  max-width: 600px;
  max-height: 150px;
  background-color: #FFFCF6;
}
