<div class="row">
  <h3 id="top" ng-controller="GreetingCtrl" ng-init="selectGreeting()">{{ greeting }}!</h3>
  <p class="lead">This is my website and a portfolio of some projects I have designed or contributed to.</p>
</div>

<div class="row about" id="about">
  <h3>About Me</h3>
  <hr>
  <p class="lead">Web development and design has been a passion of mine for over ten years, and two years ago I decided to turn that passion into a career. I graduated from Epicodus, a fulltime code school in Portland, Oregon, and have been working at a small company as a frontend JavaScript developer since then. Although I mostly write vanilla JS, I have recently started working with frameworks again including Mithril, React and Angular.</p>
</div>

<div class="row" id="projects">
  <h3>Projects</h3>
  <h5 class="tag">Click each image to learn more.</h5>
  <hr>
  <div class="row">
    <div class="projects-list" ng-controller="ProjectsCtrl">
    <script type="text/ng-template" id="modalContent.html">
      <div class="modal-header">
          <h3 class="modal-title">{{ project.title }}</h3>
          <h5>Written in: {{ project.tech }}</h5>
      </div>
      <div class="modal-body">
          <p>{{ project.info }}</p>
          <h6><a href="{{ project.link }}">Visit Project Page</a></h6>
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
      </div>
    </script>
      <ul>
        <li ng-repeat="project in projects">
          <img ng-click="open(project)" class="project-img" src="{{ project.image }}">
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row" id="contact">
  <h3>Contact Me</h3>
  <hr>
  <p class="lead">Email: tina.ramsey87@gmail.com</p>
  <p class="lead">Message me on <a href="https://www.linkedin.com/in/theramz" target="_blank">LinkedIn</a></p>
</div>
