<!DOCTYPE html>
<html lang="en" ng-app="portfolio">
  <head>
    <meta charset="UTF-8">
    <title>Tina Ramsey's Portfolio</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navigation" ng-controller="HomeCtrl">
      <div class="container-fluid">
        <ul class="nav navbar-nav" ng-repeat="item in menuItems">
            
            
            
            
          <li ng-click="setActive(item)" ng-class="{ active: activeMenu === item }"><a ng-click="scrollTo(item)">{{ item }}<span class="sr-only">(current)</span></a></li>
<!--
          <li ng-click="active='projects'" ng-class="{ active: active ==='projects' }"><a ng-click="scrollTo('projects')">Projects</a></li>
          <li ng-click="active='contact'" ng-class="{ active: active ==='contact' }"><a ng-click="scrollTo('contact')">Contact</a></li>
-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.github.com/tinaramsey87"><i class="fa fa-github-alt"></i></a></li>
          <li><a href="http://www.linkedin.com/in/theramz"><i class="fa fa-linkedin"></i></a></li>
        </ul>

      </div>
    </nav>
    <div class="jumbotron">
      <div class="container headerText">
          <h1>Tina Ramsey   <small><u>javascript developer</u></small></h1>
      </div>
    </div>

    <div class="container-fluid main col-md-10 col-md-offset-1">
      <div ui-view ng-controller="HomeCtrl"></div>
    </div>
      
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.js"></script>
    <script src="lib/ui-bootstrap-0.12.1.min.js"></script>
    <script src="app.js"></script>

    <script src="services/GreetingsFactory.js"></script>
    <script src="services/ProjectsFactory.js"></script>
    <script src="services/UtilitiesFactory.js"></script>

    <script src="controllers/HomeController.js"></script>
    <script src="controllers/GreetingController.js"></script>
    <script src="controllers/ProjectsController.js"></script>
    <script src="controllers/ModalInstanceController.js"></script>

  </body>
</html>
